---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found | Stephen M. Bird" pageClass="not-found" showSidebar={false}>
  <div class="panel">
    <h1>Page Not Found</h1>
    <p>The page you were looking for could not be found. If this used to be an old `.html` link, the migration may still be in progress.</p>
    <p><a class="action-button" href="/">Return Home</a></p>
  </div>
</BaseLayout>
